USE [master]
GO
/****** Object:  Database [NTTDATA]    Script Date: 6/10/2024 23:21:49 ******/
CREATE DATABASE [NTTDATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NTTDATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NTTDATA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NTTDATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NTTDATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NTTDATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NTTDATA]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/10/2024 23:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 6/10/2024 23:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Contrasena] [nvarchar](10) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Genero] [nvarchar](1) NULL,
	[Edad] [int] NOT NULL,
	[Identificacion] [nvarchar](10) NOT NULL,
	[Direccion] [nvarchar](250) NULL,
	[Telefono] [nvarchar](10) NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 6/10/2024 23:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[NumeroCuenta] [int] NOT NULL,
	[TipoCuenta] [nvarchar](max) NULL,
	[SaldoInicial] [float] NULL,
	[Estado] [nvarchar](max) NULL,
	[Cliente] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[NumeroCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 6/10/2024 23:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Movimiento] [nvarchar](max) NULL,
	[Valor] [float] NOT NULL,
	[TipoMovimiento] [nvarchar](1) NOT NULL,
	[NumeroCuenta] [int] NOT NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241007020859_InitDB', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241007023317_InitDB', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteID], [Contrasena], [Estado], [Nombres], [Genero], [Edad], [Identificacion], [Direccion], [Telefono]) VALUES (1, N'1234', 1, N'Jose Lema', NULL, 0, N'1234567890', N'Otavalo sn y principal', N'098254785')
INSERT [dbo].[Cliente] ([ClienteID], [Contrasena], [Estado], [Nombres], [Genero], [Edad], [Identificacion], [Direccion], [Telefono]) VALUES (2, N'5678', 1, N'Marianela Montalvo', NULL, 0, N'1234567891', N'Amazonas y NNUU', N'097548965')
INSERT [dbo].[Cliente] ([ClienteID], [Contrasena], [Estado], [Nombres], [Genero], [Edad], [Identificacion], [Direccion], [Telefono]) VALUES (3, N'1245', 1, N'Juan Osorio', NULL, 0, N'1234567892', N'13 junio y Equinoccial', N'098874587')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[Cuenta] ([NumeroCuenta], [TipoCuenta], [SaldoInicial], [Estado], [Cliente]) VALUES (478758, N'Ahorros', 850, N'True', N'Jose Lema')
INSERT [dbo].[Cuenta] ([NumeroCuenta], [TipoCuenta], [SaldoInicial], [Estado], [Cliente]) VALUES (495878, N'Ahorros', 150, N'True', N'Juan Osorio')
INSERT [dbo].[Cuenta] ([NumeroCuenta], [TipoCuenta], [SaldoInicial], [Estado], [Cliente]) VALUES (496825, N'Corriente', 10, N'False', N'Francisco Jeremias')
GO
SET IDENTITY_INSERT [dbo].[Movimiento] ON 

INSERT [dbo].[Movimiento] ([IdMovimiento], [Fecha], [Movimiento], [Valor], [TipoMovimiento], [NumeroCuenta]) VALUES (1, CAST(N'2024-10-06T21:34:06.6207591' AS DateTime2), N'Retiro de 575', -575, N'R', 478758)
INSERT [dbo].[Movimiento] ([IdMovimiento], [Fecha], [Movimiento], [Valor], [TipoMovimiento], [NumeroCuenta]) VALUES (2, CAST(N'2024-10-06T22:02:48.4338926' AS DateTime2), N'Actualizacion', 100, N'D', 225486)
INSERT [dbo].[Movimiento] ([IdMovimiento], [Fecha], [Movimiento], [Valor], [TipoMovimiento], [NumeroCuenta]) VALUES (3, CAST(N'2024-10-06T22:03:59.2378956' AS DateTime2), N'Actualizacion', 250, N'D', 495878)
SET IDENTITY_INSERT [dbo].[Movimiento] OFF
GO
/****** Object:  Index [PK_Cliente]    Script Date: 6/10/2024 23:21:49 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [PK_Cliente] UNIQUE NONCLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
